<head>
    <title>Achieve! Full Steam.</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"></style>
</head>
<body>
    <!-- Image and text -->
    <header class="navbar navbar-dark bg-dark sticky-top">
        <a class="navbar-brand" href="/">
          <img src="<%= user.avatar %>" width="30" height="30" class="d-inline-block align-top" alt='Your Avatar Image'>
          <%= user.displayName %>
        </a>
        <a href='logout' class="navbar-brand pull-right">Logout</a>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Your games</h2>
                <p>Game count: <%= games.game_count %></p>
                <p>Achievement score: 27%</p>
            </div>
        </div>
    </div>
    <div class="container">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>

        <div class="row">
            <% for (var id in games.games) { %>
            <% var game = games.games[id] %>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-8"><%= game.name %></div>
                                <div class="col-4 text-right">(<%= game.completion_score %>%)</div>
                            </div>
                        </div>
                        <img src="<%= game.image %>" class="card-img-top" alt="<%= game.name %> image">
                        <div class="card-body">
                            <p class="card-text">Achievements - <%= game.achievements_completed %>/<%= game.achievements.length %></p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</body>